<form class="form" ng-submit="save()">
    <div class="modal-header">
        <h3 class="modal-title">Create User</h3>
    </div>
    <div class="modal-body">
            <div class="form-group">
                <label>E-mail</label>
                <input ng-model="user.email" type="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label>First Name</label>
                <input ng-model="user.firstName" type="text" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input ng-model="user.lastName" type="text" class="form-control">
            </div>            
            <div class="form-group">
                <label>Password</label>
                <input ng-model="user.password" type="password" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input ng-model="confirmPass" type="password" class="form-control" required>
                <div class="label-warning" ng-if="confirmPass != user.password">Confirmation Must Match</div>
            </div>  
    </div>
    <div class="modal-footer">
        <button ng-click="cancel()" type="button" class="btn btn-default">Cancel</button>
        <button ng-disabled="confirmPass != user.password" type="submit" class="btn btn-primary">Save</button>
    </div>
</form>