<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <h3>Login</h3>
        <form class="form" ng-submit="login()">
            <div class="form-group">
                <input type="email" ng-model="user.email" name="email" placeholder="E-mail" class="form-control" required>
            </div>
            <div class="form-group">
                <input type="password" ng-model="user.password" name="password" placeholder="Password" class="form-control" required>
            </div>
            <input class="btn btn-primary" type="submit" value="login">
        </form>
    </div>
</div>
