<h1>Login</h1>
<form method="post" action="/login">
    <input type="text" name="email" placeholder="E-mail">
    <br><br>
    <input type="password" name="password" placeholder="Password">
    <br><br>
    <input type="submit" value="login">
</form>