<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <% if(req.query.error){ %>
            <div class="alert alert-danger">Invalid username or password.</div>
            <% } %>
            <h3>Login</h3>
            <form method="post" action="/login">
                <input type="email" name="email" placeholder="E-mail" required>
                <br><br>
                <input type="password" name="password" placeholder="Password" required>
                <br><br>
                <input type="submit" value="login">
            </form>
        </div>
    </div>
</div>